# default .gitignore file for ipa320 repositories
# master file can be found in https://github.com/ipa320/care-o-bot/blob/indigo_dev/.gitignore

build/
bin/
lib/
data_collection/
objects/
data_dslr/
data/
# generated docs
*.dox
*.wikidoc
*.tar
# eclipse
.project
.cproject

# qcreator
qtcreator-*
*.user

# Emacs
.#*

# VI/VIM
*.swp

# python files
*.pyc
*.pco

# temporary files
*~

# merge conflict files
*.orig
*BACKUP*
*BASE*
*LOCAL*
*REMOTE*

# Catkin custom files
#CATKIN_IGNORE
*.autosave
.idea
# bag and tar files
*.bag
*.tar

